<div role="navigation" id="slide-out" class="side-nav sn-bg-4 fixed">
  <ul class="custom-scrollbar">
    <li class="logo-sn waves-effect py-3" [style.background]="themeService.themeGradient | safe: 'style'">
      <div class="text-center">
        <a routerLink="/movies" class="pl-0 collapsible-header waves-effect"><img
            src="../../../assets/img/logo/logo150.png" alt="Logo"></a>
      </div>
    </li>
    <!-- Search Form 
      <li>
        <form [formGroup]="form" class="search-form" role="search">
          <div class="md-form mt-0 waves-light">
            <input type="text" class="form-control py-2" placeholder="Find movies...">
          </div>
        </form>
      </li> -->
    <li>
      <ul class="collapsible collapsible-accordion">
        <li>
          <a routerLink="/movies" (click)="sidenavClose()" class="collapsible-header waves-effect">
            <i class="fas fa-film"></i>Explore movies
          </a>
        </li>
        <li *ngIf="authService.isLoggedIn">
          <a routerLink="/user/{{uid}}" (click)="sidenavClose()" class="collapsible-header waves-effect">
            <i class="far fa-heart"></i>My movies
          </a>
        </li>
        <li *ngIf="authService.isLoggedIn">
          <a routerLink="/rated" (click)="sidenavClose()" class="collapsible-header waves-effect">
            <i class="fas fa-star-half-alt"></i>My Ratings
          </a>
        </li>
        <li *ngIf="isAdmin">
          <a routerLink="/add-movie" (click)="sidenavClose()" class="collapsible-header waves-effect">
            <i class="fas fa-plus"></i>Add movie
          </a>
        </li>
        <li *ngIf="authService.isLoggedIn">
          <a routerLink="/settings" (click)="sidenavClose()" class="collapsible-header waves-effect">
            <i class="fas fa-cog"></i>Settings
          </a>
        </li>
        <li>
          <a routerLink="/about" (click)="sidenavClose()" class="collapsible-header waves-effect">
            <i class="fas fa-info-circle"></i>About the project
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="sidenav-bg mask-strong"></div>
</div>
