// Your custom variables
$card-white-gray: #eeeeee !default;
$card-dark-gray: #212529 !default;
$simple-gray: #a8a8a8 !default;
// $card-white-gray: #212529 !default;
// $card-dark-gray: #eeeeee !default;
// $simple-gray: #a8a8a8 !default;