<div class="container-fluid">
  <section class="mb-4 mt-1 mt-md-4">
    <div class="row">
      <div class="col-md-6 col-sm-12 mb-4">
        <blockquote class="blockquote bq-primary my-4"
          [style]="('border-left: 3px solid '+themeService.themeColor + ' !important') | safe: 'style'">
          <h3 class="" [style.color]="themeService.themeColor | safe: 'style'"><strong>About</strong></h3>
          <p>A movie app made for T-Systems FrontEnd School</p>
          <h4 class="mb-4 font-weight-bold"><strong>
              <a class="" [style.color]="themeService.themeColor | safe: 'style'"
                href="https://www.doesit.works/">https://www.doesit.works</a>
            </strong></h4>
          <a class="btn btn-git waves-effect waves-light" href="https://www.github.com/quemsah/"><i
              class="fab fa-github left"></i>Github</a>
        </blockquote>
      </div>
      <div class="col-md-6 col-sm-12 mb-4">
        <img class="d-flex align-self-center mr-3 z-depth-1" src="../../../assets/img/qr-code.png" alt="QR-code">
      </div>
      <hr class="my-5">
    </div>
  </section>
</div>
