# compiled output
/dist

# Other
.firebase
.scannerwork

# dependencies
/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
npm-debug.log

# MDB Scss
/src/assets/scss/addons/
/src/assets/scss/addons-pro/
/src/assets/scss/admin
/src/assets/scss/core
/src/assets/scss/free
/src/assets/scss/pro
/src/assets/scss/_admin-style.scss
/src/assets/scss/_custom-skin.scss
/src/assets/scss/main.scss