<nav role="navigation" class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">
  <div class="float-left">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
  </div>
  <div class="breadcrumb-dn mr-auto ml-3">
    <p>Angular Movies App</p>
  </div>
  <div class="d-flex">
    <div class="ml-auto mb-0 mr-3 change-mode-wrapper">
      <!-- <button class="btn btn-outline-black btn-sm" id="dark-mode">Change theme</button> -->
    </div>
    <ul class="nav navbar-nav nav-flex-icons ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-effect" href="mailto:quemsaurose@gmail.com">
          <i class="fas fa-envelope"></i>
          <span class="clearfix d-none d-sm-inline-block">Mail us</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Profile</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a *ngIf="!authService.isLoggedIn"
            [style.background]="(login === 1) ? (themeService.themeColor | safe: 'style') : 'transparent'"
            (mouseover)="login = 1" (mouseout)="login = -1" routerLink="/login" class="dropdown-item">Log in</a>
          <a *ngIf="!authService.isLoggedIn"
            [style.background]="(register === 1) ? (themeService.themeColor | safe: 'style') : 'transparent'"
            (mouseover)="register = 1" (mouseout)="register = -1" routerLink="/register" class="dropdown-item">Sign
            up</a>
          <a *ngIf="authService.isLoggedIn"
            [style.background]="(friends === 1) ? (themeService.themeColor | safe: 'style') : 'transparent'"
            (mouseover)="friends = 1" (mouseout)="friends = -1" routerLink="/friends" class="dropdown-item">Friends</a>
          <a *ngIf="authService.isLoggedIn"
            [style.background]="(profile === 1) ? (themeService.themeColor | safe: 'style') : 'transparent'"
            (mouseover)="profile = 1" (mouseout)="profile = -1" routerLink="/profile" class="dropdown-item">My
            account</a>
          <a *ngIf="authService.isLoggedIn"
            [style.background]="(settings === 1) ? (themeService.themeColor | safe: 'style') : 'transparent'"
            (mouseover)="settings = 1" (mouseout)="settings = -1" routerLink="/settings"
            class="dropdown-item">Settings</a>
          <a *ngIf="authService.isLoggedIn"
            [style.background]="(logout === 1) ? (themeService.themeColor | safe: 'style') : 'transparent'"
            (mouseover)="logout = 1" (mouseout)="logout = -1" (click)="authService.SignOut()" class="dropdown-item">Log
            out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
