<div class="container-fluid">
  <section class="mb-4 mt-0 mt-md-4">
    <div class="row">
      <h2 class="profile-title col-lg-12 font-weight-bold"><strong>Movies
        </strong></h2>
      <div class="row select-by col-12 mb-2">
        <div class="col-sm-3 d-flex justify-content-start align-items-center">
          <div class="btn-movies-type btn-group">
            <button id="grid" (click)="handleGridClick()" type="button" class="btn btn-sm btn-rounded text-white"
              [style.background]="themeService.themeGradient | safe: 'style'">
              <i class="fas fa-table"></i>
            </button>
            <button id="list" (click)="handleListClick()" type="button" class="btn btn-sm btn-rounded text-white"
              [style.background]="themeService.themeGradient | safe: 'style'">
              <i class="fas fa-list"></i>
            </button>
          </div>
        </div>
        <div class="col-sm-9 sort-by d-flex flex-row-reverse align-items-center">
          <div class="btn-group mt-3" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-sm btn-rounded text-white"
              [style.background]="themeService.themeGradient | safe: 'style'" (click)="onSortingTypeChange('asc')">
              <i class="fas fa-arrow-up"></i>
            </button>
            <button type="button" class="btn btn-sm btn-rounded text-white"
              [style.background]="themeService.themeGradient | safe: 'style'" (click)="onSortingTypeChange('desc')">
              <i class="fas fa-arrow-down"></i>
            </button>
          </div>
          <div class="md-form form-sm mb-0 mt-3 mr-2">
            <select id="form4" [(ngModel)]="sortingValue" class="browser-default custom-select select-rating"
              (change)="onSortingValueChange($event.target.value)">
              <!-- <option class="select-option" selected>Sort by</option> -->
              <option *ngFor="let item of sortingValues" [ngValue]="item.value" class="select-option">{{item.name}}
              </option>
            </select>
            <label for="form3" class="filter-label">Sort by</label>
          </div>
          <div class="md-form form-sm mb-0 mt-3 mr-2">
            <input type="text" id="form4" class="form-control form-control-sm" [(ngModel)]="searchValue"
              [ngModelOptions]="{standalone: true}" placeholder="Search..." (keyup)="onSearchChange()">
            <label for="form4" class="active">Filter</label>
          </div>
        </div>
      </div>
      <div *ngFor="let movie of pageOfItems" class="movie-item col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card movie-card h-100">
          <div *ngIf="movie.IMDBRating" class="card-rating">
            <a class="">{{movie.IMDBRating}} <i class="far fa-star"> </i></a>
          </div>
          <div class="card-favourite" (click)="handleToFavourites($event)">
            <a class=""><i id="{{movie.mid}}" class="far fa-heart"></i></a>
          </div>
          <div class="card-watch-later" (click)="handleToWatchLater($event)">
            <a class=""><i id="{{movie.mid}}" class="far fa-clock"></i></a>
          </div>
          <div class="view overlay">
            <img src="{{(movie.posterLink) ? movie.posterLink : '../../../assets/img/no_poster_available.jpg'}}"
              class="card-img-top" alt="Movie Poster">
            <a routerLink="/movie/{{movie.mid}}">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body">
            <a routerLink="/movie/{{movie.mid}}">
              <h4 class="card-title">{{movie.title}}</h4>
            </a>
            <hr>
            <p class="card-text mb-0">{{movie.director}}</p>
            <p class="card-text mb-0">{{movie.releaseDate | date }}, {{movie.country}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <ngx-spinner bdOpacity=0.7 bdColor="#eeeeee" size="medium" color="pink" type="ball-clip-rotate" [fullScreen]="false">
    <p style="color: black"> Loading... </p>
  </ngx-spinner>
  <section class="mb-4 mt-4">
    <div class="col">
      <nav>
        <app-pagination class="pagination pagination-lg justify-content-center" [items]="movies" [pageSize]=12
          (changePage)="onChangePage($event)"></app-pagination>
      </nav>
    </div>
  </section>
</div>
