<!-- чтобы спиннер не был бесконечным в случае, если у пользователя нет списков фильмов -->
<app-loader *ngIf="(watchlater | json) != '[]' || (favourites | json) != '[]'"></app-loader>
<div class="container-fluid">
  <section class="mb-4 mt-0" *ngIf="authService.userData as user">
    <div class="row" *ngIf="((watchlater | json) != '[]' || (favourites | json) != '[]')">
      <h2 *ngIf="userData.displayName === user.displayName" class="profile-title col-lg-12 font-weight-bold">
        <strong>My movies lists
        </strong></h2>
      <h2 *ngIf="userData.displayName !== user.displayName" class="profile-title col-lg-12 font-weight-bold">
        <strong>{{userData.displayName}}'s movies
        </strong></h2>
      <div class="movie-tabs">
        <ul class="nav nav-tabs nav-justified md-tabs " [style.background]="themeService.themeGradient | safe: 'style'"
          id="myTabJust" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="wl-tab-just" data-toggle="tab" href="#wl-just" role="tab"
              aria-controls="wl-just" aria-selected="true">Watch Later</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="fav-tab-just" data-toggle="tab" href="#fav-just" role="tab" aria-controls="fav-just"
              aria-selected="false">Favourites</a>
          </li>
        </ul>
        <div class="tab-content card pt-5" id="myTabContentJust">
          <div class="tab-pane fade show active" id="wl-just" role="tabpanel" aria-labelledby="wl-tab-just">
            <div class="row">
              <div *ngFor="let movie of watchlater" class="movie-item col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card movie-card h-100">
                  <div *ngIf="movie.IMDBRating" class="card-rating">
                    <a class="">{{movie.IMDBRating}} <i class="far fa-star"> </i></a>
                  </div>
                  <div class="card-favourite" (click)="handleToFavourites($event)">
                    <a class=""><i id="{{movie.mid}}" class="far fa-heart"></i></a>
                  </div>
                  <div class="card-watch-later" (click)="handleToWatchLater($event)">
                    <a class=""><i id="{{movie.mid}}" class="far fa-clock"></i></a>
                  </div>
                  <div class="view overlay">
                    <img src="{{(movie.posterLink) ? movie.posterLink : '../../../assets/img/no_poster_available.jpg'}}"
                      class="card-img-top" alt="Movie Poster">
                    <a routerLink="/movie/{{movie.mid}}">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <a routerLink="/movie/{{movie.mid}}">
                      <h4 class="card-title">{{movie.title}}</h4>
                    </a>
                    <hr>
                    <p class="card-text mb-0">{{movie.director}}</p>
                    <p class="card-text mb-0">{{movie.releaseDate | date }}, {{movie.country}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="fav-just" role="tabpanel" aria-labelledby="fav-tab-just">
            <div class="row">
              <div *ngFor="let movie of favourites" class="movie-item col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card movie-card h-100">
                  <div *ngIf="movie.IMDBRating" class="card-rating">
                    <a class="">{{movie.IMDBRating}} <i class="far fa-star"> </i></a>
                  </div>
                  <div class="card-favourite" (click)="handleToFavourites($event)">
                    <a class=""><i id="{{movie.mid}}" class="far fa-heart"></i></a>
                  </div>
                  <div class="card-watch-later" (click)="handleToWatchLater($event)">
                    <a class=""><i id="{{movie.mid}}" class="far fa-clock"></i></a>
                  </div>
                  <div class="view overlay">
                    <img src="{{(movie.posterLink) ? movie.posterLink : '../../../assets/img/no_poster_available.jpg'}}"
                      class="card-img-top" alt="Movie Poster">
                    <a routerLink="/movie/{{movie.mid}}">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <a routerLink="/movie/{{movie.mid}}">
                      <h4 class="card-title">{{movie.title}}</h4>
                    </a>
                    <hr>
                    <p class="card-text mb-0">{{movie.director}}</p>
                    <p class="card-text mb-0">{{movie.releaseDate | date }}, {{movie.country}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="((watchlater | json) === '[]' && (favourites | json) === '[]')"
      class="row d-flex justify-content-start p-2">
      <div class="col-12 mt-4">
        <h2 class="h2-responsive profile-title font-weight-bold mb-2">You don't have any movie lists yet</h2>
        <h5 class="">
          <a routerLink="/movies" [style.color]="themeService.themeColor | safe: 'style'">Go to the movies page!</a>
        </h5>
      </div>
    </div>
  </section>
</div>
