<div class="container-fluid">
  <!-- <div class="row" *ngIf="authService.userData as user">
    <span>{{user | json}}</span>  
  </div> -->
  <div class="row">
    <h2 class="profile-title col-lg-12 mt-lg-12 font-weight-bold mt-0 mt-md-4"><strong>Find a friend</strong>
    </h2>
    <div class="find-a-friend input-group md-form form-sm form-1 pl-0">
      <form #faddFriend="ngForm" (ngSubmit)="handleAddFriend(faddFriend)">
        <div class="col-md-4">
          <input class="form-control my-0 py-1" type="email" ngModel name="friendsEmail" email
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required #emailInput="ngModel"
            placeholder="Type a friend's e-mail address">
          <span class="valid-error mt-2" *ngIf="emailInput.hasError('pattern')">E-Mail is invalid</span>
        </div>
        <div class="col-md-4 mt-md-0 mt-sm-3 mt-3">
          <div class="input-group-prepend">
            <span class="waves-input-wrapper waves-effect waves-light"><input type="submit" value="Submit"
                class="btn btn-rounded btn-sm my-0" [style.background]="themeService.themeGradient | safe: 'style'"
                [disabled]="faddFriend.invalid"></span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <span>{{friends | json}}</span>
  <span>{{inRequests | json}}</span> -->
  <!-- <span>(friends | json) != ({} | json)</span> -->
  <div class="row mt-1">
    <h2 class="profile-title col-lg-12 mt-lg-12 font-weight-bold" *ngIf="(friends | json) != '{}'">
      <strong>Friends</strong></h2>
    <div class="col-xl-4 col-md-6 mb-xl-0">
      <div class="friend-card card card-cascade cascading-admin-card mt-5" *ngFor="let item of friends | keyvalue">
        <div class="admin-up">
          <img src="{{(item.value.photoURL) ? item.value.photoURL : '../../../assets/img/avatars/user.png'}}"
            alt="User Photo" class="z-depth-1 mb-0 mx-auto">
          <div class="data p-0">
            <h5 class="font-weight-bold">{{(item.value.displayName) ? item.value.displayName : 'User Deleted'}}</h5>
          </div>
        </div>
        <div class="card-foter text-right my-2 mr-2">
          <button *ngIf="item.value.displayName" class="btn btn-info btn-rounded btn-sm waves-effect waves-light "
            [style.background]="themeService.themeGradient | safe: 'style'">Movies</button>
          <button id="{{item.value.fid}}" class="btn btn-danger btn-rounded btn-sm waves-effect waves-light"
            (click)="handleRequestDelete($event)">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-md-6 mt-4">
      <h2 class="profile-title col-lg-12 mt-lg-12 mt-4 font-weight-bold" *ngIf="(inRequests | json) != '{}'">
        <strong>Incoming requests</strong></h2>
      <div class="friend-card card card-cascade cascading-admin-card mt-5" *ngFor="let item of inRequests | keyvalue">
        <div class="admin-up">
          <img src="{{(item.value.photoURL) ? item.value.photoURL : '../../../assets/img/avatars/user.png'}}"
            alt="User Photo" class="z-depth-1 mb-0 mx-auto">
          <div class="data p-0">
            <h5 class="font-weight-bold">{{(item.value.displayName) ? item.value.displayName : 'User Deleted'}}</h5>
          </div>
        </div>
        <div class="card-foter text-right my-2 mr-2">
          <button id="{{item.value.fid}}" class="btn btn-success btn-rounded btn-sm waves-effect waves-light"
            (click)="handleRequestAccept($event)">Accept</button>
          <button id="{{item.value.fid}}" class="btn btn-danger btn-rounded btn-sm waves-effect waves-light"
            (click)="handleRequestDelete($event)">Decline</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-4">
      <h2 class="profile-title col-lg-12 mt-lg-12 mt-4 font-weight-bold" *ngIf="(outRequests | json) != '{}'">
        <strong>Outcoming requests</strong></h2>
      <div class="friend-card card card-cascade cascading-admin-card mt-5" *ngFor="let item of outRequests | keyvalue">
        <div class="admin-up">
          <img src="{{(item.value.photoURL) ? item.value.photoURL : '../../../assets/img/avatars/user.png'}}"
            alt="User Photo" class="z-depth-1 mb-0 mx-auto">
          <div class="data p-0">
            <h5 class="font-weight-bold">{{(item.value.displayName) ? item.value.displayName : 'User Deleted'}}</h5>
          </div>
        </div>
        <div class="card-foter text-right my-2 mr-2">
          <button id="{{item.value.fid}}" class="btn btn-danger btn-rounded btn-sm waves-effect waves-light"
            (click)="handleRequestDelete($event)">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
