<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card card-cascade narrower">
        <div class="view view-cascade gradient-card-header blue-gradient">
          <h5 class="mb-0 font-weight-bold">Get info via TMDB</h5>
        </div>
        <div class="card-body card-body-cascade text-center">
          <p class="text-muted"><small>Search for movies in external TMDB database by an IMDB ID.</small></p>
          <form #fGetTmdbID="ngForm" (ngSubmit)="onImdbIDSubmit(fGetTmdbID)">
            <div class="md-form mb-0">
              <input class="form-control" type="text" ngModel name="ImdbId">
              <label>IMDB ID</label>
              <button class="btn btn-info btn-rounded btn-sm waves-effect waves-light blue-gradient">Submit</button><br>
            </div>
          </form>
        </div>
      </div>
    </div>
    <span>{{this.foundMovieData | json}}</span>
    <div class="col-lg-8 mb-4">
      <div class="card card-cascade narrower">
        <div class="view view-cascade gradient-card-header blue-gradient">
          <h5 class="mb-0 font-weight-bold">Add Movie</h5>
        </div>
        <div class="card-body card-body-cascade text-center">
          <form #addNewMovie="ngForm" (ngSubmit)="onAddMovieSubmit(addNewMovie)">
            <div class="row">
              <div class="col-md-4 ">
                <div class="md-form form-sm mb-0">
                  <input type="text" class="form-control form-control-sm" ngModel name="ImdbId" disabled>
                  <label class="">IMDB ID</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form form-sm mb-0">
                  <input type="text" class="form-control form-control-sm" ngModel name="TmdbId" disabled>
                  <label class="">TMDB ID</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form form-sm mb-0">
                  <input type="text" class="form-control form-control-sm" ngModel name="MovieName" required
                    #movieNameInput="ngModel">
                  <span class="valid-error" *ngIf="movieNameInput.hasError('required')">Field must not be empty</span>
                  <label class="">Name</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ">
                <div class="md-form form-sm mb-0">
                  <input type="text" class="form-control form-control-sm" ngModel name="Date" required
                    #dateInput="ngModel">
                  <span class="valid-error" *ngIf="dateInput.hasError('required')">Field must not be empty</span>
                  <label class="">Date</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form form-sm mb-0">
                  <input type="text" class="form-control form-control-sm" ngModel name="Country" required
                    #countryInput="ngModel">
                  <span class="valid-error" *ngIf="countryInput.hasError('required')">Field must not be empty</span>
                  <label class="">Country</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form form-sm mb-0">
                  <input type="text" class="form-control form-control-sm" ngModel name="IMDBRating">
                  <label class="">IMDB Rating</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="md-form form-sm mb-0">
                  <input type="text" class="form-control form-control-sm" ngModel name="Genre">
                  <label class="">Genre</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form form-sm mb-0">
                  <input type="text" class="form-control form-control-sm" ngModel name="Director" required
                    #directorInput="ngModel">
                  <span class="valid-error" *ngIf="directorInput.hasError('required')">Field must not be empty</span>
                  <label class="">Director</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form form-sm mb-0">
                  <input type="text" class="form-control form-control-sm" ngModel name="Poster">
                  <label class="">Link to a poster</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="md-form form-sm mb-0">
                  <input type="text" class="form-control form-control-sm" ngModel name="Runtime">
                  <label class="">Runtime</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form form-sm mb-0">
                  <input type="text" class="form-control form-control-sm" ngModel name="Budget">
                  <label class="">Budget</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form form-sm mb-0">
                  <input type="text" class="form-control form-control-sm" ngModel name="Revenue">
                  <label class="">Revenue</label>
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-4">
                <div class="md-form form-sm mb-0">
                  <select class="browser-default custom-select select-rating">
                    <option class="select-option" selected>Your Rating</option>
                    <option class="select-option" value="1">1</option>
                    <option class="select-option" value="2">2</option>
                    <option class="select-option" value="3">3</option>
                    <option class="select-option" value="4">4</option>
                    <option class="select-option" value="5">5</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form form-sm mb-0 d-flex">
                  <input type="checkbox" class="form-check-input" id="Favourite" checked="checked">
                  <label class="form-check-label" for="Favourite">Favourite</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form form-sm mb-0 d-flex">
                  <input type="checkbox" class="form-check-input" id="wl">
                  <label class="form-check-label" for="wl">Watch later</label>
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0 text-dark">
                  <textarea class="md-textarea form-control" rows="3" ngModel name="Overview" required
                    #overviewInput="ngModel"></textarea>
                  <span class="valid-error" *ngIf="overviewInput.hasError('required')">Field must not be empty</span>
                  <label class="">Overview</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center my-4">
                <span class="waves-input-wrapper waves-effect waves-light"><input type="submit" value="Add Movie"
                    class="btn btn-info btn-rounded blue-gradient" [disabled]="addNewMovie.invalid"></span>
                <!-- [disabled]="f.invalid" -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
