/* .valid-error {
  position: absolute;
} */

.genres {
  text-align: left !important;
}

.md-form label {
  transform: translateY(-14px) scale(0.8);
}

.genres-label.md-form label {
  transform: none;
}

[type="date"] {
  background: #fff 97% 50% no-repeat;
  /* background:blue url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ; */
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.date-input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 190px;
}
