<div class="container-fluid">
  <section class="mb-5 mt-5">
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-8 mx-auto mt-5">
        <div class="card-body">
          <div class="form-header mb-4" [style.background]="themeService.themeGradient | safe: 'style'">
            <h3 class="font-weight-500 my-2 py-1"><i class="fas fa-user"></i> Forgot password?</h3>
          </div>
          <div class="text-center">
            <h5>Enter your e-mail. We`ll email instructions on how to reset your password</h5>
          </div>
          <div class="md-form">
            <i class="fas fa-envelope prefix"></i>
            <input type="email" class="formControl" placeholder="E-mail address" #passwordResetEmail required>
          </div>
          <div class="text-center">
            <button class="btn btn-lg text-white" [style.background]="themeService.themeGradient | safe: 'style'"
              (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset password</button>
            <hr class="mt-4">
            <h5>Go back to <a routerLink="/login">Log in</a></h5>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
