select {
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 350px;
  padding: 10px;
  font-size: 18px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.custom-select:focus {
  box-shadow: none;
}

.select-option {
  background: #eeeeee;
  font-size: inherit;
}
