<div class="container-fluid">
    <section class="mt-0 mt-md-4">
    <div class="row d-flex justify-content-start p-2">
      <div class="col-md-6 col-sm-12 mt-4">
        <h2 class="h2-responsive mt-3 mb-2">Oops! We can't find the page you're looking for.</h2>
        <h5 class="">You tried to request a page that doesn't seem to exist.</h5>
        <h5 class="">
          <a routerLink="/movies" >Return to the main page</a>
        </h5>
      </div>
      <div class="col-md-6 mt-4">
        <img src="../../../assets/img/404.png" alt="Error 404" class="img-fluid">
      </div>
    </div>
  </section>
</div>
