<div class="container-fluid" *ngIf="discoveredMovieData as movie">
  <section class="mb-4 mt-0 mt-md-4">
    <div class="row movie-row">
      <img *ngIf="movie.backdrop_path" class="hipstah-fix" src="{{tmdbService.URL_BACKDROP + movie.backdrop_path}}">
      <!-- Jumbotron -->
      <div class="movie-bg card card-image">
        <div class="text-white stylish-card p-4 d-flex justify-content-between">
          <div class="col-xl-8">
            <h2 class="card-title h2 my-2">{{movie.title}}</h2>
            <h5 class="h5 my-2" [style.color]="themeService.themeColor | safe: 'style'"> {{movie.release_date | date }},
              {{movie.status}}</h5>
            <h5 class="h5 my-2 p-0">{{movie.tagline}}</h5>
            <p *ngIf="movie.runtime" class="my-2 p-0">Runtime: {{movie.runtime}} min</p>
            <h6 *ngIf="movie.IMDBRating" class="h6 yellow-text my-2 p-0"><i class="far fa-star"> </i>
              {{movie.IMDBRating}} IMDB</h6>
            <ul *ngIf="movie.genres" class="list-unstyled d-flex justify-content-start mt-3 p-0">
              <li *ngFor="let genre of movie.genres" class="">
                <div class="chip waves-effect waves-effect my-0">{{genre.name}}</div>
              </li>
            </ul>
            <h5 class="h4 my-0 p-0">Homepage</h5>
            <a href="{{movie.homepage}}">
              <p class="my-2">{{movie.homepage}}</p>
            </a>
            <h4 class="h4 my-0 p-0">Overview</h4>
            <p class="my-2">{{movie.overview}}</p>
            <p *ngIf="movie.budget" class="m-0 p-0">Budget: {{movie.budget}}</p>
            <p *ngIf="movie.revenue" class="mb-2 p-0">Revenue: {{movie.revenue}}</p>
            <button type="button" class="btn btn-md ml-0" (click)="handleAddToDatabase()"
              [style.background]="themeService.themeGradient | safe: 'style'">
              <i class="fas fa-plus pr-1"></i> Add this movie to database
            </button>
          </div>
          <div class="">
            <img
              src="{{(movie.poster_path) ? tmdbService.URL_POSTER + movie.poster_path : '../../../assets/img/no_poster_available.jpg'}}"
              class="movie-card-img" alt="Movie Poster">
          </div>
        </div>
      </div>
      <!-- Jumbotron -->
    </div>
  </section>
  <section class="mb-4 mt-4">
    <!-- двойная проверка, так как если фильм добавлен вручную
      то массив будет пустой -->
    <div class="row">
      <div class="movie-tabs">
        <ul class="nav nav-tabs nav-justified md-tabs " [style.background]="themeService.themeGradient | safe: 'style'"
          id="myTabJust" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="wl-tab-just" data-toggle="tab" href="#wl-just" role="tab"
              aria-controls="wl-just" aria-selected="true">Cast</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="fav-tab-just" data-toggle="tab" href="#fav-just" role="tab" aria-controls="fav-just"
              aria-selected="false">Crew</a>
          </li>
        </ul>
        <div class="tab-content card pt-5" id="myTabContentJust">
          <div class="tab-pane fade show active" id="wl-just" role="tabpanel" aria-labelledby="wl-tab-just">
            <div class="row">
              <div class="col-xl-2 col-lg-3 col-md- col-sm-4 col-6 mb-4"
                *ngFor="let actor of discoveredMovieCast; let i = index">
                <div class="actor-card card align-items-center">
                  <div class="view overlay">
                    <img routerLink="/star/{{actor[i].id}}" src="{{(actor[i].profile_path) 
                        ? 'https://image.tmdb.org/t/p/w138_and_h175_face'+actor[i].profile_path 
                        : '../../../../assets/img/no_actor_img.jpg'}}" class="card-img-top" alt="Actor Image">
                  </div>
                  <div class="card-body text-center">
                    <a routerLink="/star/{{actor[i].id}}" class="grey-text">
                      <p class="h6">{{ (actor[i].character) ? actor[i].character : 'No Information' }}</p>
                    </a>
                    <p class="h6"><a routerLink="/star/{{actor[i].id}}"
                        [style.color]="themeService.themeColor | safe: 'style'"><strong>{{ actor[i].name }}</strong></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="fav-just" role="tabpanel" aria-labelledby="fav-tab-just">
            <div class="row">
              <div class="col-xl-2 col-lg-3 col-md- col-sm-4 col-6 mb-4"
                *ngFor="let actor of discoveredMovieCrew; let i = index">
                <div class="actor-card card align-items-center">
                  <div class="view overlay">
                    <img routerLink="/star/{{actor[i].id}}" src="{{(actor[i].profile_path) 
                        ? 'https://image.tmdb.org/t/p/w138_and_h175_face'+actor[i].profile_path 
                        : '../../../../assets/img/no_actor_img.jpg'}}" class="card-img-top" alt="Actor Image">
                  </div>
                  <div class="card-body text-center">
                    <a routerLink="/star/{{actor[i].id}}" class="grey-text">
                      <p class="h6">{{ (actor[i].job) ? actor[i].job : 'No Information' }}</p>
                    </a>
                    <p class="h6"><a routerLink="/star/{{actor[i].id}}"
                        [style.color]="themeService.themeColor | safe: 'style'"><strong>{{ actor[i].name }}</strong></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
