<div class="container-fluid">
  <section class="mb-5 mt-5">
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-8 mx-auto mt-5">
        <div class="card-body">
          <div class="form-header blue-gradient">
            <h3 class="font-weight-500 my-2 py-1"><i class="fas fa-user"></i> Log in</h3>
          </div>
          <div class="md-form">
            <i class="fas fa-envelope prefix blue-text"></i>
            <input type="text" class="formControl" placeholder="E-mail" #userName required>
            <!-- <label>Your email</label> -->
          </div>
          <div class="md-form">
            <i class="fas fa-lock prefix blue-text"></i>
            <input type="password" class="formControl" placeholder="Password" #userPassword required>
            <!-- <label>Your password</label> -->
          </div>
          <div class="text-center">
            <button class="btn blue-gradient btn-lg"
              (click)="authService.SignIn(userName.value, userPassword.value)">Log in</button>
            <button class="btn blue-gradient btn-lg" (click)="authService.GoogleAuth()"><i
                class="fab fa-google"></i></button>
            <!-- <button class="btn blue-gradient btn-lg" (click)="authService.GithubAuth()"><i
                class="fab fa-github"></i></button>
            <button class="btn blue-gradient btn-lg" (click)="authService.MicrosoftAuth()"><i
                class="fab fa-windows"></i></button> -->
            <hr class="mt-4">
            <h5><a routerLink="/forgot-password">Forgot password?</a></h5>
            <h5>Not registered yet? <a routerLink="/register">Create an account</a></h5>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
