<app-loader></app-loader>
<div class="container-fluid">
  <section class="mb-4 mt-0 mt-md-4">
    <div class="row">
      <div class="col-md-3 mb-md-0 mb-5">
        <div class="card star-card">
          <div class="photo z-depth-1-half mb-2">
            <img src="{{(starData?.profile_path) 
              ? tmdbService.URL_IMG_H450 + starData?.profile_path 
                    : '../../../assets/img/no_actor_img.jpg'}}" class="card-img-top" alt="Actor photo"></div>
          <div class="card-body pt-0 mt-0">
            <div class="text-center">
              <h3 class="my-2 font-weight-bold"><strong>{{starData?.name}}</strong></h3>
              <h6 class="font-weight-bold my-2" [style.color]="themeService.themeColor | safe: 'style'">
                {{(starData?.gender===2) ? 'Male' : 'Female'}}</h6>
            </div>
            <ul class="striped list-unstyled">
              <li><strong>Birthday:</strong> {{starData?.birthday | date}}</li>
              <li *ngIf="starData?.deathday"><strong>Day of Death:</strong> {{starData?.deathday | date}}</li>
              <li><strong>Place of Birth:</strong> {{(starData?.place_of_birth)}}</li>
              <li><strong>Known Credits:</strong> {{starMovies?.cast.length+starMovies?.crew.length}}</li>
              <li><strong>Also Known As:</strong>
                {{((starData?.also_known_as[0]) ? starData?.also_known_as[0] : '')+
                ((starData?.also_known_as[1]) ? ', ' + starData?.also_known_as[1] : '')+
                ((starData?.also_known_as[2]) ? ', ' + starData?.also_known_as[2] : '')}}
              </li>
              <li *ngIf="starData?.homepage"><strong>Official Site:</strong> <a href="{{starData?.homepage}}">
                  {{starData?.homepage}}</a></li>
              <li><strong>Popularity index:</strong> {{starData?.popularity}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row mb-1">
          <div class="movie-tabs">
            <ul class="nav nav-tabs nav-justified md-tabs "
              [style.background]="themeService.themeGradient | safe: 'style'" id="myTabJust" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="known-for-tab-just" data-toggle="tab" href="#known-for-just" role="tab"
                  aria-controls="known-for-just" aria-selected="true">Known For</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="bio-tab-just" data-toggle="tab" href="#bio-just" role="tab"
                  aria-controls="bio-just" aria-selected="false">Biography</a>
              </li>
            </ul>
            <div class="tab-content card pt-5" id="myTabContentJust">
              <div class="tab-pane fade show active" id="known-for-just" role="tabpanel"
                aria-labelledby="known-for-tab-just">
                <div class="row">


                  <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4"
                    *ngFor="let movie of starMovies?.cast; let i = index">
                    <div class="card movie-card h-100">
                      <div class="view overlay">
                        <img src="{{(movie.poster_path) 
                          ? tmdbService.URL_IMG_H450 + movie.poster_path 
                      : '../../../assets/img/no_poster_available.jpg'}}" class="card-img-top" alt="Poster image">
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>
                      <div *ngIf="(!movie.poster_path)" class="card-body">
                        <a>
                          <p class="card-title m-0">{{movie.title}}</p>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="bio-just" role="tabpanel" aria-labelledby="bio-tab-just">
                <div class="row">
                  <div class="col-12 mb-4">
                    <p>{{starData?.biography ? starData?.biography : 'No information' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
