<ul *ngIf="pager.pages && pager.pages.length" class="pagination flex-wrap">
  <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
    <a (click)="setPage(1)" class="page-link">First</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
    <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
  </li>
  <li *ngFor="let page of pager.pages"
    [style.background]="(pager.currentPage === page) ? (themeService.themeGradient | safe: 'style') : 'transparent'"
    class="page-item number-item">
    <a (click)="setPage(page)" [style.color]="(pager.currentPage === page) ? 'white' : '#212529'"
      class="page-link">{{page}}</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
    <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
    <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
  </li>
</ul>
