<div class="container-fluid">
  <section class="mb-4 mt-4">
    <div class="row" *ngIf="authService.userData as user">
      <!-- Если залогинился -->
      <!-- <span>{{ userData | json }}</span>  -->
      <a class="nav-link active">
        <i class="fas fa-user"></i>User Profile
      </a>
      <a class="nav-link" (click)="authService.SignOut()">
        <i class="fas fa-sign-out-alt"></i>Log out
      </a>
    </div>
  </section>
</div>
<div class="container-fluid">
  <div class="row" *ngIf="authService.userData as user">
    <div class="col-lg-4 mb-4 mt-4">
      <!-- Card -->
      <div class="card profile-card card-cascade narrower">
        <!-- Card image -->
        <div class="view view-cascade gradient-card-header blue-gradient">
          <h5 class="mb-0 font-weight-bold">Edit Photo</h5>
        </div>
        <!-- Card image -->
        <!-- Card content -->
        <div class="card-profile card-body card-body-cascade text-center">
          <img class="z-depth-1 mb-3 mx-auto"
            src="{{(user.photoURL) ? user.photoURL : '../../../assets/img/avatars/user.png'}}" alt="User Photo">
          <p class="text-muted"><small>Avatar should be a square and .jpg</small></p>
          <div class="row flex-center">
            <button class="btn btn-info btn-rounded btn-sm waves-effect waves-light blue-gradient">Upload New
              Photo</button><br>
            <button class="btn btn-danger btn-rounded btn-sm waves-effect waves-light">Delete</button>
          </div>
        </div>
        <!-- Card content -->
      </div>
      <!-- Card -->
    </div>
    <div class="col-lg-8 mb-4 mt-4">
      <div class="card card-cascade narrower">
        <div class="view view-cascade gradient-card-header blue-gradient">
          <h5 class="mb-0 font-weight-bold">Edit Account</h5>
        </div>
        <div class="card-body card-body-cascade text-center update-profile-form">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="row">
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input class="form-control" type="email" ngModel [(ngModel)]="user.email" name="email" email
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required #emailInput="ngModel" disabled>
                  <span class="valid-error" *ngIf="emailInput.hasError('required')">Field must not be empty</span>
                  <span class="valid-error" *ngIf="emailInput.hasError('pattern')">E-Mail is invalid</span>
                  <label data-error="wrong" data-success="right">E-mail</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input class="form-control" type="text" ngModel [(ngModel)]="user.uid" name="uid" disabled>
                  <label for="form77" data-error="wrong" data-success="right">User ID </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input class="form-control" type="text" ngModel [ngModel]="user.displayName" name="userName" required
                    minlength="5" #userNameInput="ngModel">
                  <span class="valid-error" *ngIf="userNameInput.hasError('required')">Field must not be empty</span>
                  <span class="valid-error" *ngIf="userNameInput.hasError('minlength')">The name must be of minimum
                    length 4 characters</span>
                  <label>Name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input class="form-control" type="password" ngModel name="password" required minlength="6"
                    #pwInput="ngModel">
                  <span class="valid-error" *ngIf="pwInput.hasError('required')">Field must not be empty</span>
                  <span class="valid-error" *ngIf="pwInput.hasError('minlength')">The name must be of minimum
                    length 6 characters</span>
                  <label>Password</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <textarea class="md-textarea form-control" rows="3" type="text" ngModel
                    [(ngModel)]="userData[0].aboutMe" name="aboutMe" #aboutMeInput="ngModel" required></textarea>
                  <label class="">About me</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center my-4">
                <span class="waves-input-wrapper waves-effect waves-light"><input type="submit" value="Update Account"
                    class="btn btn-info btn-rounded blue-gradient" [disabled]="f.invalid"></span>
                <!-- [disabled]="f.invalid" -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
