<app-loader></app-loader>
<div class="container-fluid" *ngIf="movieData as movie">
  <!-- Movie card -->
  <section class="mb-4 mt-0 mt-md-4">
    <div class="row movie-row">
      <img *ngIf="movie.backdropLink" class="hipstah-fix" src="{{movie.backdropLink}}">
      <!-- Jumbotron -->
      <div class="movie-bg card card-image">
        <div class="text-white stylish-card p-4 d-flex justify-content-between">
          <div class="col-xl-8">
            <h2 class="card-title h2 my-2">{{movie.title}}</h2>
            <h5 class="h5 my-2" [style.color]="themeService.themeColor | safe: 'style'"> {{movie.releaseDate | date }},
              {{movie.country}}</h5>
            <h5 class="h5 my-2 p-0">{{movie.director}}</h5>
            <p *ngIf="movie.runtime" class="my-2 p-0">Runtime: {{movie.runtime}}</p>
            <h6 *ngIf="movie.IMDBRating" class="h6 yellow-text my-2 p-0"><i class="far fa-star"> </i>
              {{movie.IMDBRating}} IMDB</h6>
            <ul *ngIf="movie.genres" class="list-unstyled d-flex justify-content-start mt-3 p-0">
              <li *ngFor="let genre of movie.genres" class="">
                <div class="chip waves-effect waves-effect my-0">{{genre}}</div>
              </li>
            </ul>
            <div class="">
              <p class="my-1 p-0">Your rating:</p>
              <star-rating [(value)]=currentMovieRating checkedcolor="#ffeb3b" uncheckedcolor="#9e9e9e" size="24px"
                readonly="false" (rate)="handleRate($event)"></star-rating>
            </div>
            <h4 class="h4 my-0 p-0">Overview</h4>
            <p class="my-2">{{movie.overview}}</p>
            <p *ngIf="movie.budget" class="m-0 p-0">Budget: {{movie.budget | noInfo}}</p>
            <p *ngIf="movie.revenue" class="mb-2 p-0">Revenue: {{movie.revenue | noInfo}}</p>
            <button type="button" class="btn btn-md ml-0" (click)="handleToWatchLater()"
              [style.background]="themeService.themeGradient | safe: 'style'">
              <i class="far fa-clock pr-1"></i> Watch later
            </button>
            <button type="button" class="btn btn-md ml-0" (click)="handleToFavourites()"
              [style.background]="themeService.themeGradient | safe: 'style'">
              <i class="far fa-heart pr-1"></i> Favourite
            </button>
            <button type="button" class="btn btn-md ml-0" (click)="openModal(template)"
              [style.background]="themeService.themeGradient | safe: 'style'">
              <i class="fas fa-share-alt pr-1"></i> Share
            </button>
            <ng-template #template>
              <div class="modal-header">
                <h4 class="modal-title pull-left"><i class="fas fa-share-alt pr-1"></i> Share {{movie.title}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h6>https://doesit.works/movie/{{movie.mid}}</h6>
                <a [href]="'http://vkontakte.ru/share.php?url=https://doesit.works/movie/'+
                  movie.mid + '&title=Movies App&description=Look what I have found! ' + movie.title">
                  <button type="button" class="btn vk-color text-white">Via &nbsp;<i class="fab fa-vk left"></i>
                  </button>
                </a>
                <a [href]="'http://twitter.com/share?url=https://doesit.works/movie/' +
                    movie.mid + '&text=Look what I have found! ' + movie.title">
                  <button type="button" class="btn tw-color text-white">Via &nbsp;<i class="fab fa-twitter left"></i>
                  </button> </a>
                <a [href]="sanitizer.bypassSecurityTrustResourceUrl('tg://msg_url?url=https://doesit.works/movie/'+
                      movie.mid + '&text=Look what I have found! ' + movie.title)">
                  <button type="button" class="btn tg-color text-white">Via &nbsp;<i class="fab fa-telegram left"></i>
                  </button>
                </a>
              </div>
            </ng-template>
            <a *ngIf="this.authService.userData?.isAdmin === true" routerLink="/edit-movie/{{movie.mid}}"
              id="{{movie.mid}}" type="button" class="btn btn-md btn-blue-grey ml-0" (click)="handleMovieEdit()">
              <i class="far fa-edit pr-1"></i> Edit
            </a>
            <a *ngIf="this.authService.userData?.isAdmin === true" id="{{movie.mid}}" type="button"
              class="btn btn-md btn-danger ml-0" (click)="handleMovieDelete()">
              <i class=" far fa-trash-alt pr-1"></i> Delete
            </a>
          </div>
          <div class="">
            <img src="{{(movie.posterLink) ? movie.posterLink : '../../../assets/img/no_poster_available.jpg'}}"
              class="movie-card-img" alt="Movie Poster">
          </div>
        </div>
      </div>
      <!-- Jumbotron -->
    </div>
  </section>
  <!-- Actors & Trailers -->
  <section class="mb-4 mt-4" *ngIf="movieCrew">
    <!-- двойная проверка, так как если фильм добавлен вручную
      то массив будет пустой -->
    <div class="row" *ngIf="movieCrew.length > 0">
      <div class="movie-tabs">
        <ul class="nav nav-tabs nav-justified md-tabs " [style.background]="themeService.themeGradient | safe: 'style'"
          id="myTabJust" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="wl-tab-just" data-toggle="tab" href="#wl-just" role="tab"
              aria-controls="wl-just" aria-selected="true">Cast</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="fav-tab-just" data-toggle="tab" href="#fav-just" role="tab" aria-controls="fav-just"
              aria-selected="false">Trailers</a>
          </li>
        </ul>
        <div class="tab-content card pt-5" id="myTabContentJust">
          <div class="tab-pane fade show active" id="wl-just" role="tabpanel" aria-labelledby="wl-tab-just">
            <div class="row">
              <div class="col-xl-2 col-lg-3 col-md- col-sm-4 col-6 mb-4" *ngFor="let actor of movieCrew; let i = index">
                <div class="actor-card card align-items-center">
                  <div class="view overlay">
                    <img routerLink="/star/{{actor[i].id}}" src="{{(actor[i].profile_path) 
                        ? tmdbService.URL_IMG_H175 + actor[i].profile_path 
                        : '../../../../assets/img/no_actor_img.jpg'}}" class="card-img-top" alt="Actor Image">
                  </div>
                  <div class="card-body text-center">
                    <a routerLink="/star/{{actor[i].id}}" class="grey-text">
                      <p class="h6">{{ (actor[i].character) ? actor[i].character : 'No Information' }}</p>
                    </a>
                    <p class="h6"><a routerLink="/star/{{actor[i].id}}"
                        [style.color]="themeService.themeColor | safe: 'style'"><strong>{{ actor[i].name }}</strong></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="fav-just" role="tabpanel" aria-labelledby="fav-tab-just">
            <div class="row">
              <div class="col-xl-4 col-sm-6 col-xs-12 mb-4" *ngFor="let trailer of movieTrailers; let i = index">
                <div class="embed-responsive embed-responsive-16by9">
                  <!-- <p class="h6"><strong>{{trailer[i].key}}</strong></p> -->
                  <iframe class="embed-responsive-item"
                    [src]="sanitizer.bypassSecurityTrustResourceUrl(trailer[i].key)"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Similar movies -->
  <section class="mb-4 mt-4" *ngIf="movieSimilars">
    <!-- двойная проверка, так как если фильм добавлен вручную
      то массив будет пустой -->
    <div class="row" *ngIf="movieSimilars.length > 0">
      <h2 class="profile-title col-lg-12 font-weight-bold mb-3"><strong>Similar movies
        </strong></h2>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let smovie of movieSimilars; let i = index">
        <div class="card movie-card h-100">
          <div class="card-rating">
            <a class="">{{smovie[i].vote_average}} <i class="far fa-star"> </i></a>
          </div>
          <div class="view overlay">
            <img src="{{(smovie[i].poster_path) 
                  ? tmdbService.URL_IMG_H450 + smovie[i].poster_path 
                  : '../../../assets/img/no_poster_available.jpg'}}" class="card-img-top" alt="Poster image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body">
            <a>
              <h4 class="card-title">{{smovie[i].title}}</h4>
            </a>
            <p></p>
            <hr>
            <p class="card-text mb-0">{{smovie[i].release_date  | date }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Comments -->
  <section class="mb-4 mt-4" *ngIf="authService.userData as user">
    <div class="row">
      <h2 class="profile-title col-lg-12 font-weight-bold mb-3">
        <strong>Comments</strong>
      </h2>
      <div class="col-md-6 col-xs-12 mb-4" *ngFor="let comment of movieComments">
        <div id="{{comment.cid }}" class="question-card card mb-4">
          <div class="card-header d-flex justify-content-between"
            [style.background]="themeService.themeGradient | safe: 'style'">
            <p class="pt-2 mb-0 text-white">
              <strong><a class="h5 text-white" href="profile.html" target="_blank">{{comment.user_name}} </a></strong>
              <i class="fas fa-angle-double-left"></i> {{comment.date}}</p>
            <div class="comment-btns d-flex flex-row-reverse flex-wrap">
              <!-- Кнопка удаления комментария -->
              <a *ngIf="(user.uid === comment.user_id) || (this.authService.userData?.isAdmin === true)"
                id="{{comment.cid}}" type="button" (click)="handleCommentDelete($event)"
                class="btn btn-outline-danger btn-sm px-2 waves-effect">
                <i id="{{comment.cid}}" class="far fa-trash-alt ml-1"></i>
              </a>
              <!-- Кнопка изменения комментария -->
              <a *ngIf="user.uid === comment.user_id" id="{{comment.cid}}" type="button"
                (click)="handleCommentEdit($event);scroll(cform);"
                class="btn btn-outline-white btn-sm px-2 waves-effect">
                <i id="{{comment.cid}}" class="far fa-edit ml-1"></i>
              </a>
            </div>
          </div>
          <div id="t{{comment.cid}}" class="card-body">
            {{comment.text}}
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-6 col-xs-12 mb-4">
        <div class="question-card card mb-4">
          <div class="card-header d-flex justify-content-between"
            [style.background]="themeService.themeGradient | safe: 'style'">
            <p class="pt-2 mb-0 text-white">
              <strong><a class="h5 text-white" target="_blank">Leave a comment as
                  {{user.displayName}}</a></strong>
          </div>
          <div #cform class="card-body">
            <form #fAddComment="ngForm" (ngSubmit)="handleAddComment(fAddComment)">
              <div class="form-group">
                <label for="replyFormComment">Your comment</label>
                <textarea type="text" class="form-control" [(ngModel)]=currentCommentText name="CommentText"
                  rows="3"></textarea>
              </div>
              <div class="text-center mt-2">
                <button class="btn btn-info btn-md " [style.background]="themeService.themeGradient | safe: 'style'"
                  type="submit">Post</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
