.actor-card .card-body {
  white-space: initial;
}

.actor-card {
  flex-direction: column;
}

.list-unstyled {
  margin-bottom: 0;
}

.modal-header {
  background-color: #eeeeee;
}

.modal-body {
  background-color: #fff;
}

/* уменьшим чуть-чуть....... */
.vk-color {
  background-color: #4c75a3;
  padding: 0.64rem 1.84rem;
}

.tw-color {
  background-color: #55acee;
  padding: 0.64rem 1.84rem;
}

.tg-color {
  background-color: #0088cc;
  padding: 0.64rem 1.84rem;
}
