/* .valid-error {
  position: absolute;
} */

.genres {
  text-align: left !important;
}

.md-form label {
  transform: translateY(-14px) scale(0.8);
}

.genres-label.md-form label {
  transform: none;
}