<!-- <img class="align-self-start mr-5 img-thumbnail rounded-circle"
src="{{(user.photoURL) ? user.photoURL : '/src/assets/img/avatars/user.png'}}" alt="{{user.displayName}}">  -->
<div class="container-fluid">
  <div class="row" *ngIf="authService.userData as user">
    <div class="col-lg-6 mb-4 mt-0 mt-md-4">
      <div class="card card-cascade narrower">
        <div class="view view-cascade gradient-card-header"
          [style.background]="themeService.themeGradient | safe: 'style'">
          <h5 *ngIf="this.authService.userData?.isAdmin === true" 
          class="mb-0 font-weight-bold">Edit Administrator Account
          </h5>
          <h5 *ngIf="this.authService.userData?.isAdmin === false" 
          class="mb-0 font-weight-bold">Edit Account
          </h5>
        </div>
        <div class="card-body card-body-cascade text-center update-profile-form">
          <form #f1="ngForm" (ngSubmit)="onProfileSubmit(f1)">
            <div class="row">
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input class="form-control" type="email" ngModel [(ngModel)]="user.email" name="email" email
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required #emailInput="ngModel" disabled>
                  <span class="valid-error" *ngIf="emailInput.hasError('required')">Field must not be empty</span>
                  <span class="valid-error" *ngIf="emailInput.hasError('pattern')">E-Mail is invalid</span>
                  <label>E-mail</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input class="form-control" type="password" ngModel name="oldPassword" required minlength="6"
                    #oldpwInput="ngModel">
                  <span class="valid-error" *ngIf="oldpwInput.hasError('required')">Field must not be empty</span>
                  <span class="valid-error" *ngIf="oldpwInput.hasError('minlength')">The password must be of minimum
                    length 6 characters</span>
                  <label>Old password</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <!-- <div class="md-form mb-0">
                      <input class="form-control" type="text" ngModel [(ngModel)]="user.displayName" name="userName"
                        required minlength="5" #userNameInput="ngModel">
                      <span class="valid-error" *ngIf="userNameInput.hasError('required')">Field must not be empty</span>
                      <span class="valid-error" *ngIf="userNameInput.hasError('minlength')">The name must be of minimum
                        length 4 characters</span>
                      <label>Name</label>
                    </div> -->
                <div class="md-form mb-0">
                  <input class="form-control" type="text" ngModel [(ngModel)]="user.uid" name="uid" disabled>
                  <label>User ID</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input class="form-control" type="password" ngModel name="password" required minlength="6"
                    #pwInput="ngModel">
                  <span class="valid-error" *ngIf="pwInput.hasError('required')">Field must not be empty</span>
                  <span class="valid-error" *ngIf="pwInput.hasError('minlength')">The password must be of minimum
                    length 6 characters</span>
                  <label>New password</label>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-md-12">
                    <div class="md-form mb-0">
                      <textarea class="md-textarea form-control" rows="3" type="text" ngModel name="aboutMe"
                        #aboutMeInput="ngModel"></textarea>
                      <label class="">About me</label>
                    </div>
                  </div> -->
            </div>
            <div class="row">
              <div class="col-md-12 text-center my-4">
                <span class="waves-input-wrapper waves-effect waves-light"><input type="submit" value="Update Account"
                    class="btn btn-info btn-rounded btn-sm"
                    [style.background]="themeService.themeGradient | safe: 'style'" [disabled]="f1.invalid"></span>
                <!-- [disabled]="f.invalid" -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-4 mt-4">
      <div class="card profile-card card-cascade narrower">
        <div class="view view-cascade gradient-card-header "
          [style.background]="themeService.themeGradient | safe: 'style'">
          <h5 class="mb-0 font-weight-bold">Edit Photo</h5>
        </div>
        <div class="card-profile card-body card-body-cascade text-center">
          <img class="z-depth-1 mb-3 mx-auto"
            src="{{(user.photoURL) ? user.photoURL : '../../../assets/img/avatars/user.png'}}" alt="User Photo">
          <p class="text-muted"><small>Avatar should be a square</small></p>
          <div class="row flex-center file-field">
            <button class="btn btn-info btn-rounded btn-sm waves-effect waves-light "
              [style.background]="themeService.themeGradient | safe: 'style'">Upload New
              Photo
            </button>
            <input type="file" (change)="onClickPhoto($event)"><br>
            <button class="btn btn-danger btn-rounded btn-sm waves-effect waves-light"
              (click)="onDeletePhoto()">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-4 mt-4">
      <div class="card card-cascade narrower">
        <div class="view view-cascade gradient-card-header "
          [style.background]="themeService.themeGradient | safe: 'style'">
          <h5 class="mb-0 font-weight-bold">Change Name</h5>
        </div>
        <div class="card-body card-body-cascade text-center update-profile-form">
          <form #f2="ngForm" (ngSubmit)="onNameSubmit(f2)">
            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <input class="form-control" type="text" ngModel [ngModel]="user.displayName" name="userName" required
                    minlength="4" #userNameInput="ngModel">
                  <span class="valid-error" *ngIf="userNameInput.hasError('required')">Field must not be empty</span>
                  <span class="valid-error" *ngIf="userNameInput.hasError('minlength')">The name must be of minimum
                    length 4 characters</span>
                  <label>Name</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center my-4">
                <span class="waves-input-wrapper waves-effect waves-light"><input type="submit" value="Update"
                    class="btn btn-info btn-rounded btn-sm"
                    [style.background]="themeService.themeGradient | safe: 'style'" [disabled]="f2.invalid"></span>
                <!-- [disabled]="f.invalid" -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
